body{
    background-color: red;

}

main{
    background-color: white;
    padding: 2rem;
}

article{
    border: 0.01rem;
    border-color: rgb(197, 197, 197);
    border-style: solid;
    display: grid;
    justify-items: center;
}

.pokelist article:last-child(5) {
 background-color: orange;
}

.pokelist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.text{
  text-transform: capitalize;  
}










