body{
    background-color: red;
}

main{
    background-color: white;
   
}

article{
    border: 0.01rem;
    border-color: rgb(197, 197, 197);
    border-style: solid;
    width: 26rem;
}










